
h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: rgb(190, 168, 211);
   
}
input{
    width: 100%;
}
.items-container{
    text-align: left;
}
.kg-row{
    margin:10px;
}
.kg-button{
    min-width: 80px;
}
/* .todo-container{
     border: 2px solid rgb(233, 197, 197);
} */